:root {
  --q-primary: #2563EB;
  --q-secondary: #10B981;
  --q-accent: #9C27B0;

  --q-dark: #1D1D1D;

  --q-positive: #21BA45;
  --q-negative: #C10015;
  --q-info: #31CCEC;
  --q-warning: #F2C037;

  /* Background Color */
  --bg-slate: #F8FAFC;
}

body {
  background-color: var(--bg-slate);
  color: #333;
}